.ListItem {
  margin: 5px 0;
}

.list-item-container {
  display: flex;
}

#delete-icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.counter-controls {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.counter {
  display: inline-block;
}

.name {
  margin-left: 10px;
}